body {
  background: #9e005b; }

::selection {
  background: #9e005b;
  /* WebKit/Blink Browsers */
  color: white; }

::-moz-selection {
  background: #9e005b;
  /* Gecko Browsers */
  color: white; }

.anchor {
  display: block;
  height: 237px;
  /*same height as header*/
  margin-top: -237px;
  /*same height as header*/
  visibility: hidden; }

#top {
  color: #222; }

#welcome {
  border-top: 15px solid #9e005b;
  margin: 0 1%;
  width: 98%;
  position: fixed; }

nav {
  background: white;
  text-align: center;
  padding-top: 5%; }
  nav ul {
    width: 85%;
    list-style: none;
    text-align: center;
    margin-left: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 2px solid #EAE9E7;
    border-top: 2px solid #EAE9E7; }
    nav ul li {
      display: inline;
      padding-left: 1%; }

#wrapper {
  width: 98%;
  background: white;
  position: absolute;
  top: 33%;
  left: 1%;
  border-bottom: 15px solid #9e005b;
  z-index: -1; }

hr {
  width: 85%;
  margin-left: 7%;
  border-top: 2px solid #E1E1E1; }

strong {
  font-weight: bold; }

h3 {
  margin-left: 30%;
  padding-top: 35%;
  padding-bottom: 30%; }

h5 {
  margin-bottom: 1%; }

#about_sec {
  border-right: 2px solid #9e005b;
  margin-top: 7%;
  margin-bottom: 3%; }

img {
  width: 50%;
  height: 50%;
  padding-left: 34%;
  padding-top: 8%;
  padding-bottom: 3%; }

#content {
  padding-top: 1%; }

#section1 {
  margin-left: 8%;
  margin-right: 15%;
  margin-top: 13%; }

#title {
  border-right: 2px solid #9e005b;
  margin-bottom: 5%; }

#projs {
  margin-top: 3%; }

#section2 {
  margin-right: 15%; }

#prj_img {
  width: 50%;
  height: 50%;
  padding-left: 34%;
  padding-top: 8%;
  padding-bottom: 3%;
  padding-left: 18%;
  padding-top: 3%; }

#exp {
  margin-top: 3%; }

#section3 {
  margin-right: 15%; }

#edu_div {
  margin-left: 21%;
  padding-top: 3%;
  padding-bottom: 125%; }

td {
  padding: 18px 15px;
  text-align: left;
  border-bottom: 1px solid #EAE9E7; }

#edu_info {
  margin-top: 1%; }

li {
  margin-top: 1%; }

#contact_info {
  float: left;
  padding-left: 8%;
  text-align: center;
  margin-top: 3%; }

#contact_me {
  margin-top: 3%;
  padding-bottom: 0%; }

#contacts {
  margin-left: 30%;
  padding-top: 35%;
  padding-bottom: 30%;
  padding-top: 20%;
  padding-bottom: 5%; }

@media screen and (min-width: 400px) {
  #wrapper {
    top: 21%;
    left: 1%; }

  img {
    padding-left: 25%; }

  #about_sec {
    border-right: none; }

  #section1 {
    margin-left: 10%;
    padding-top: 8%; }

  #title {
    border-right: none; }

  h3 {
    margin-left: 22%;
    padding-top: 10%;
    padding-bottom: 1%; }

  #section2 {
    margin-left: 10%; }

  #prj_img {
    padding-top: 1%; }

  #edu_div {
    margin-left: 3%;
    padding-bottom: 5%; }

  h5 {
    margin-bottom: 1%;
    margin-left: 3%; }

  #section3 {
    margin-left: 3%; }

  #contact_info {
    clear: left;
    text-align: center;
    margin-left: 30%; }

  #contact_me {
    padding-bottom: 3%; }

  #contacts {
    padding-top: 2%;
    padding-bottom: 0;
    margin-left: 33%; } }
@media only screen and (min-width: 550px) {
  #headshot {
    width: 75%;
    height: 75%;
    padding-left: 34%;
    padding-top: 3%; }

  td {
    padding: 1px 2px;
    text-align: left;
    border-bottom: none; }

  h5 {
    margin-bottom: 1%;
    margin-left: 8%; }

  #section3 {
    margin-left: 8%; } }
@media only screen and (min-width: 750px) {
  #wrapper {
    top: 26%;
    left: 1%; }

  #headshot {
    width: 75%;
    height: 75%;
    padding-left: 18%;
    padding-top: 3%; }

  #about_sec {
    border-right: 2px solid #9e005b; }

  h3 {
    padding-bottom: 55%; }

  #title {
    border-right: 2px solid #9e005b; }

  td {
    padding: 12px 3px;
    text-align: left;
    border-bottom: 1px solid #EAE9E7; }

  #edu_div {
    margin-left: 8%;
    padding-top: 3%;
    padding-bottom: 430%; }

  #contacts {
    padding-bottom: 57%; } }
@media (min-width: 1000px) {
  #section1 {
    margin-left: 1%;
    margin-right: 17%;
    margin-top: 17%; }

  #edu_div {
    margin-left: 20%;
    padding-top: 3%;
    padding-bottom: 100%; }
    #edu_div h5 {
      margin-bottom: 1%;
      margin-left: 1%; }

  #contacts {
    padding-top: 20%;
    padding-bottom: 10%; } }

/*# sourceMappingURL=style.css.map */
